body{
    margin: 0;
    font-family:"Georgia", serif; 
    color: #3e2a18;
    background: url("vier.jpg") center/cover no-repeat fixed;
}
h2{
    text-align: center;
    font-size: 65px;
    margin-top: 60px;
    color: #4a2c14;
    letter-spacing: 2px;

}
.Dubai{
   margin:  40px auto;
    width: 55%;
    max-width: 550px;
    height: auto;
    display: block;
    border-radius: 20px;
    box-shadow:  5px 10px 20px rgba(0, 0,0,0.5);

}
p{
    max-width: 800px;
    margin: 30px auto;
    background: rgba(255, 248, 220, 0.9);
    box-shadow: 0 10px 25px rgb(73 56 56 / 40%);
    line-height: 1.7;
    font-size: 25px;
    padding: 23px;
    border-radius: 15px;

}
b{
    font-size: 26px;
    color: rgb(112, 69, 34);
}
a{
     display:block;
    padding: 12px 35px;
    background: #c19a6b;
    color: white;
    border-radius: 30px;
    font-size: 18px;
     transition: all 0.2s ;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    text-decoration: none;
    width:250px;
    margin: 50px auto;
    text-align: center; 
}
a:hover {
    background: #a67c52;
    transform: translateY(-4px);
}
