body {
    margin: 0;
    height: 100vh;
    background: url("contentbg 1.jpg") center 70%/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    font-family: "Georgia", serif;
}

h1 {
    margin:0 0 0 150px;
    color: #5a3b1e;
    letter-spacing: 2px;
    font-size: 35px;
    text-align: center;
}

ol {
    margin: 15px;
    padding-left: 200px;
    padding-top: 20px;
}

li {
    margin: 15px ;
    font-size: 23px;
    color: #3e2a18;
}

/* Links */
a {
    text-decoration: none;
    color: #4a2c14;
    transition: all 0.3s ease;
}

a:hover {
    color: #8b5e34;
    padding-left: 10px;
}
